.breadcrumbs {
  display: flex;
  column-gap: 0.9rem;
  align-items: center;
  font-family: var(--ff-regular);
  font-size: 1.4rem;
  line-height: 1.3;
}

a.breadcrumbs__item {
  color: var(--fg-regular);
  text-decoration: none;
  transition: var(--tr-regular);
}

a.breadcrumbs__item:hover {
  color: var(--c-primary);
}

span.breadcrumbs__item {
  color: var(--fg-regular);
}

.breadcrumbs__divider {
  color: var(--fg-regular);
  opacity: 0.4;
}
