.breadcrumbs {
  display: flex;
  column-gap: 0.9rem;
  align-items: center;
  font-family: var(--ff-regular);
  font-size: 1.4rem;
  line-height: 2.2rem;
}

a.breadcrumbs__item {
  color: var(--fg-regular);
  text-decoration: none;
  transition: var(--tr-regular);
}

a.breadcrumbs__item:hover {
  color: var(--c-primary);
}

span.breadcrumbs__item {
  color: var(--fg-regular);
}

.breadcrumbs__item:first-child {
  font-weight: 550;
}

.breadcrumbs__divider {
  font-weight: 550;
  color: var(--fg-breadcrumbs-divider);
}
