.cases-hero {
  padding-top: 2.9rem;
  background: var(--bg-app-light);
}

.cases-hero__title {
  margin: 1.4rem 0 0;
  text-align: center;

  @media (max-width: $mobile) {
    margin-top: 2.9rem;
  }
}

@media (max-width: $mobile) {
  .cases-hero {
    padding-top: 1.6rem;
  }
}
