.documents-hero {
  padding-top: 2.9rem;
}

.documents-hero__title {
  margin: 3.7rem 0 0;
  text-align: center;

  @media (max-width: $mobile) {
    margin-top: 2.9rem;
    text-align: left;
  }
}

@media (max-width: $mobile) {
  .documents-hero {
    padding-top: 1.6rem;
  }
}
