.news-hero {
  padding-top: 2.9rem;
}

.news-hero__title {
  margin: 1.4rem 0 0;
  text-align: center;

  @media (max-width: $mobile) {
    margin-top: 2.9rem;
  }
}

@media (max-width: $mobile) {
  .news-hero {
    padding-top: 1.6rem;
  }
}
