.post-hero {
  padding-top: 1.6rem;
}

.post-hero__card {
  padding: 6.7rem 8.4rem 5.3rem;
  margin-top: 4.8rem;
  background: var(--bg-app-light);
  border-radius: 4.2rem 4.2rem 0 0;
}

.post-hero__title {
  margin: 0;
}

@media (max-width: $mobile) {
  .post-hero__container {
    padding-inline: 1rem;
  }

  .post-hero__card {
    padding: 3rem 1.5rem 2.9rem;
    margin-top: 3.1rem;
    border-radius: 2.5rem 2.5rem 0 0;
  }
}
